{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">Popular Games</h2>
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    {% if not games_info %}
    <p class="fs-2">Не удалось ничего найти</p>
    {% else %}
    {% for el in games_info %}
    <div class="col">
        <div class="card h-100 game-card">
            <img src="{{ url_for('uploads.send_uploaded_file', filename=el[3].storage_name) }}" class="card-img-top" alt="{{ el[0].name }}" style="width: 400px; height: 225px;">
            <div class="card-body text-bg-light">
                <h5 class="card-title">{{ el[0].name }}</h5>
                <p class="card-text text-muted">by {{ el[1].username }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="{{ url_for('games.view_game', game_id=el[0].id) }}" class="btn btn-success btn-md w-50 stretched-link link-underline link-underline-opacity-0">
                        <i class="fas fa-download me-2"></i>Скачать
                    </a>
                    
                    <div style="z-index: 2;">
                        {% for o in el[2] %}
                        <i class="fab fa-{{ o.fa_icon_name }} os-icon" title="{{ o.display_name }}"></i>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}